{% extends "basicsearch/header.html" %}

{% block searchbox %}
    <form class="form-inline" action="/search/" method="get">
        <div class="form-group form-group-lg">
            <label class="sr-only" for="search_term">Search Term</label>
                <div class="input-group">
                    <div class="row" style="display: inline-block">
                        <div class="col-lg-10" style="width: 800px">
                            <input class="form-control" id="search_term" placeholder="e.g. atorvastatin" name="search_term" style="width: 100%; box-shadow: 3px 3px 3px #5e5e5e; border-radius: 5px; height: 45px" value="{{ search_term }}">
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg" style="box-shadow: 2px 2px 2px #5e5e5e; background-color: #5b80b2; position: absolute; border: none; height: 45px">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
        </div>
    </form>
{% endblock %}